@import "sprite.scss";

/* px 转 rem，此时html的字体大小为 16px */
@function px2rem($px) {
  $rem: 75px;
  @return ($px/$rem)*2 + rem;
}

/* px 转 rem，此时html的字体大小为 16px */
@function px2px($px) {
  @return $px*2;
}

.file-container {
  font-size: px2px(14px);
}

/* 面包屑导航 */
.breadcrumb {
  position: relative;
  padding: 8px 0 8px 15px;
  border-top: 1px solid #D1DCE3;
  background-color: #E9F1F6;
  color: #5E6163;
  line-height: px2rem(24px);

  .file-path {
    overflow: hidden;

    li {
      float: left;
    }

    a {
      text-decoration: none;
      color: #0080BD;
      display: inline-block;
      float: left;
      word-break: break-all;
    }
  }
}

/* 文件列表 */
.file-lists {
  position: relative;
  min-height: 1000px;
}

.file-box {
  position: relative;
  display: block;
  width: 100%;
  height: px2px(54px);
  border-top: 1px solid #D1DCE3;
  background-color: #FAFDFE;
  color: #5E6163;
  overflow: hidden;
}

.column-folder, .column-file, .handle-box {
  position: relative;
  width: 100%;
  height: 100%;
  will-change: transform;
  transition: all .3s;
}

.is-handling {
  .column-folder, .column-file, .handle-box {
    transform: translate3d(0, -100%, 0);
  }
}

.icon-container {
  float: left;
  display: inline-flex;
  width: 16%;
  height: 100%;
  justify-content: center;
  align-items: center;

  .icon {
    display: block;
    width: px2px(35px);
    height: px2px(30px);
  }
}

.column-file-name {
  float: left;
  display: inline-flex;
  width: 68%;
  height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
}

.column-file-info {
  @extend .column-file-name;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .name, .info {
    width: 100%;
  }

  .name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .info {
    margin-top: 4px;
  }

  .size, .time {
    display: inline-block;
    font-size: 26px;
    color: #9BABBA;
  }

  .size {
    margin-right: 50px;
  }
}

.arrow {
  @extend .icon-container;

  .icon {
    width: 32px;
    height: 32px;
    background: transparent url(./images/arrow_01.png) center no-repeat;
    background-size: 100% auto;
  }
}

.handle-box {
  background: #e0e1e1;
  box-shadow: inset 0 2px 5px #d6d7d6;
  color: #9BABBA;

  .btn-container {
    width: 100%;
    height: 100%;
  }

  .btn {
    float: left;
    display: block;
    width: 20%;
    height: 100%;
    padding-top: 60px;
    background: transparent center 20px no-repeat;
    background-size: auto 40px;
    text-align: center;
    color: #575757;
    font-size: inherit;
  }

  .view {
    background-image: url(images/preview-icon.png);
  }
  .mark {
    background-image: url(images/video-preview-icon.png);
  }
  .share {
    background-image: url(images/share-icon.png);
  }
}
