.footer {
  position: relative;
  padding: 40px;
  border-top: 1px solid #D1DCE3;
  border-bottom: none;
  background-color: #23242D;
  font-size: 32px;
}

.login-form {
  margin: 0 auto;
  color: #fff;
  text-align: center;
  word-break: break-all;
}

.logout-link {
  color: #1E9CEB;
  font-weight: bold;
}
