* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

ul {
  list-style: none
}

a {
  text-decoration: none
}

body {
  font: 14px/1.5 tahoma, arial, Microsoft Yahei;
  height: 100%
}

#wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: auto
}

.wrapper {
  overflow: hidden;
  min-width: 240px
}

.wrapper .bottom_ad {
  position: relative;
  float: left;
  width: 100%;
  background: #35AB5D
}

.wrapper .banner {
  color: #fff;
  width: 100%;
  position: relative;
  max-height: 100px;
  background: #E06C6F
}

.wrapper .banner_e {
  width: 100%;
  position: relative
}

.wrapper .banner_e_bg {
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1
}

.wrapper .banner_e_bg img {
  width: 100%
}

.wrapper .banner img, .wrapper .bottom_ad img, .wrapper .banner_e img {
  max-width: 100%;
  display: block;
  margin: 0 auto
}

.wrapper .banner_e .logout {
  height: auto;
  position: absolute;
  right: 20px;
  top: 35%;
  color: #C5C5C5
}

.wrapper .banner_e .logout span {
  float: left;
  display: inline-block;
  max-width: 120px;
  color: #C5C5C5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.wrapper .banner_e .logout a {
  float: left;
  display: inline-block;
  height: auto;
  color: #fff;
  line-height: inherit
}

.banner_logo {
  position: absolute;
  top: 15px;
  left: 3%;
  display: inline-block;
  width: auto;
  height: 74px
}

.wrapper .banner span {
  display: table-cell;
  text-align: center;
  vertical-align: middle
}

.wrapper .banner .shape {
  position: absolute;
  left: 15px;
  top: 20px;
  display: inline-block
}

.wrapper .banner .close, .wrapper .bottom_ad .close {
  color: transparent;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background: url(/source/css/bgimg/close.png) no-repeat;
  background-size: contain
}

.header {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #418bce;
  padding: 0;
  color: #fff;
  font-size: 20px;
  text-align: center
}

.header .title {
}

.header .title span {
  padding-left: 20px;
  background: url(/source/css/bgimg/hot-resource-header.png) no-repeat left center;
  background-size: auto 24px
}

.header .home {
  display: inline-block;
  position: absolute;
  left: 12px;
  top: 8px
}

.header .qr {
  position: absolute;
  right: 12px;
  top: 8px
}

.header .home img, .header .qr img {
  width: 30px;
  height: 30px
}

.header .backTo img {
  color: transparent;
  width: 24px;
  height: 24px;
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 18px
}

.index_wrapper {
  background-color: #eeeeef
}

.wrapper .app-download {
  background: url(/source/css/bgimg/banner_bg.png) repeat;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10
}

.wrapper .app-download.static {
  position: relative;
  background: #1a6fda
}

.wrapper .app-download .banner_content {
  display: block;
  padding: 10px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 13px;
  text-indent: -5%
}

.wrapper .app-download .banner_content img {
  width: 30px;
  height: 30px;
  display: inline;
  margin-right: 10px;
  vertical-align: middle
}

.wrapper .app-download .banner_content em {
  font-style: normal
}

.account_info {
  padding: 44px 10px 24px;
  background-color: #418bce;
  position: relative;
  -webkit-box-shadow: inset 0 3px 5px #4389c0;
  -moz-box-shadow: inset 0 3px 5px #4389c0;
  box-shadow: inset 0 3px 5px #4389c0
}

.account_info .account_logo {
  width: 80px;
  height: 80px;
  margin: 0 auto 8px;
  padding: 2px;
  border-radius: 50%;
  background-color: #fff
}

.account_info .account_logo img {
  width: 80px;
  height: 80px;
  border-radius: 50%
}

.account_info .account_name {
  width: 60%;
  margin: 0 auto 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  color: #fff;
  text-align: center
}

.account_info .account_name.vip {
  color: #e02423
}

.account_info .account_volume {
  position: relative
}

.account_volume .count {
  position: absolute;
  top: 0;
  right: 8px;
  line-height: 24px;
  color: #fff
}

.account_info .volume_container {
  height: 18px;
  padding: 3px;
  border-radius: 3px;
  background-color: #367fbf
}

.account_info .volume_used {
  width: 0;
  height: 18px;
  border-radius: 3px;
  background-color: #80f493
}

.account_profile {
  position: absolute;
  top: 22px;
  left: 13px;
  height: 16px;
  padding-left: 20px;
  line-height: 16px;
  color: #fff;
  background: url(/source/css/bgimg/logout.png) no-repeat left center;
  background-size: auto 100%
}

.cloud_main {
  overflow: hidden
}

.cloud_main {
  width: 100%;
  color: #fff
}

.cloud_main .relate-link {
  padding: 20px 10px
}

.cloud_main .relate-link li {
  width: 49%;
  float: left;
  margin: 0 2% 26px 0
}

.cloud_main .relate-link li:nth-child(2n) {
  margin-right: 0
}

.cloud_main .relate-link .home {
  background: url(/source/css/bgimg/link-01.png) no-repeat center 18px #92cf69;
  background-size: auto 37px
}

.cloud_main .relate-link .favorite {
  background: url(/source/css/bgimg/link-02.png) no-repeat center 18px #59b5e2;
  background-size: auto 40px
}

.cloud_main .relate-link .group {
  background: url(/source/css/bgimg/link-03.png) no-repeat center 18px #fdbc2c;
  background-size: auto 43px
}

.cloud_main .relate-link .resource {
  background: url(/source/css/bgimg/link-04.png) no-repeat center 18px #fa6567;
  background-size: auto 42px
}

.cloud_main .relate-link .market {
  background: url(/source/css/bgimg/link-05.png) no-repeat center 18px #f7784a;
  background-size: auto 47px
}

.cloud_main .relate-link .app-recommend {
  background: url(/source/css/bgimg/link-06.png) no-repeat center 18px #c166a6;
  background-size: auto 45px
}

.cloud_main .relate-link li a {
  display: block;
  height: 33px;
  padding-top: 65px;
  color: #fff;
  text-align: center
}

.cloud_main .file_manage {
  background-color: #36A1DC;
  height: 208px
}

.cloud_main .group_space {
  height: 230px;
  background-color: #5DC9E6
}

.cloud_main .group_content {
  min-width: 320px;
  overflow: hidden
}

.cloud_main .file_content, .cloud_main .group_content, .mobile_content, .app_content {
  display: block;
  margin: 0 auto;
  width: 90%;
  overflow: hidden;
  height: 100%;
  color: #fff
}

.cloud_main .file_content p, .cloud_main .group_content p {
  color: #BEE9F5;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.file_content .file_intro {
  float: left;
  margin: 65px 0 0 20px
}

.file_content .file_icon {
  max-width: 100%;
  float: right;
  margin: 50px 35px 0 0;
  display: block
}

.group_content .group_icon {
  float: left;
  margin: 60px 5% 0 30px
}

.group_content .group_intro {
  float: right;
  margin: 85px 0 0 0
}

.promotion {
  overflow: hidden;
  width: 100%;
  height: 230px
}

.promotion h2 {
  text-align: center;
  margin-top: 10px
}

.promotion .mobile, .promotion .app {
  height: 100%;
  width: 50%;
  float: left
}

.promotion .mobile {
  background-color: #E8704E
}

.promotion .app {
  background-color: #3467A6
}

.promotion .mobile_content img, .promotion .app_content img {
  display: block;
  margin: 50px auto 0
}

.function_list {
  padding: 0 10px
}

.function_list ul li {
  margin: 40px auto
}

.function_list a {
  color: #707070
}

.function_list img {
  display: block;
  margin: 0 auto 10px;
  max-width: 100%
}

.copyright {
  height: 135px;
  background-color: #415268;
  color: #6B83A3
}

.copyright p {
  padding-top: 35px;
  text-align: center;
  font-size: 18px
}

.copyright p a {
  display: inline-block;
  padding: 0 10px;
  color: #91A9C8
}

#footer {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #222;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #999), color-stop(0.02, #666), color-stop(1, #222));
  background-image: -moz-linear-gradient(top, #999, #666 2%, #222);
  background-image: -o-linear-gradient(top, #999, #666 2%, #222);
  padding: 0;
  border-top: 1px solid #444
}

#video-mask .close {
  padding: 5px 10px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10000;
  color: #fff;
  cursor: pointer
}

#video-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  -webkit-box-shadow: 0 1px 7px #464646;
  -moz-box-shadow: 0 1px 7px #464646;
  box-shadow: 0 1px 7px #464646
}

#video-container .video-loading {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  background: #000
}

#video-container .video-loading img {
  display: block;
  margin: 15% auto 0
}

#video-container video {
  position: relative;
  z-index: 10
}

#photo-mask {
  overflow: auto
}

#photo-container {
  display: table;
  width: 100%;
  height: 100%
}

#photo-container img {
  display: block;
  max-width: 100%;
  margin: 0 auto
}

.photo-box {
  display: table-cell;
  vertical-align: middle
}

#notify-mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: table
}

#notify-container {
  position: relative;
  padding: 7px 10px;
  border: 1px solid #abda82;
  vertical-align: middle;
  text-align: center;
  color: #438944;
  background: #dff1d8
}

#notify-container .text {
  padding: 0 60px 0 40px
}

#notify-container h1 {
  line-height: 22px;
  font-size: 15px;
  font-weight: normal
}

#notify-container .close {
  position: absolute;
  top: 50%;
  right: 10px;
  display: block;
  width: 48px;
  height: 20px;
  margin-top: -11px;
  border-radius: 12px;
  border: 1px solid #abda82;
  line-height: 20px;
  font-size: 14px;
  color: #438944;
  text-align: center;
  background: #fff
}

#notify-container.loading {
  background: url(/source/images/notifyicons/waiting.gif) no-repeat 16px center #dff1d8;
  background-size: auto 16px
}

#notify-container.loading .text {
  padding-left: 60px
}

#notify-container.error {
  border-color: #f7b5c5;
  color: #fb0334;
  background: #ffecec
}

#notify-container.error .close {
  border-color: #f7b5c5;
  color: #fb0334
}

.notify-icons-success, .notify-icons-error {
  display: inline-block;
  vertical-align: top;
  margin: 4px 5px 0 0
}

.notify-icons-success {
  width: 15px;
  height: 15px;
  background: url(/source/images/notifyicons/success.png) no-repeat
}

.notify-icons-error {
  width: 15px;
  height: 15px;
  background: url(/source/images/notifyicons/error.png) no-repeat
}

.multiOperate-modal {
  position: fixed;
  top: 50%;
  left: 9%;
  z-index: 2000;
  width: 82%;
  margin-top: -200px;
  background: #fff
}

.multiOperate-modal .modal-body {
  padding: 15px 20px 0
}

.multiOperate-modal .modal-body h1 {
  margin-bottom: 15px;
  line-height: 22px;
  font-size: 15px;
  color: #333;
  font-weight: normal
}

.multiOperate-modal .modal-body h2 {
  margin-bottom: 5px;
  line-height: 20px;
  font-size: 14px;
  color: #666;
  font-weight: normal
}

.multiOperate-modal .file-icon {
  float: left;
  width: 30px;
  height: 30px;
  margin: 0 10px 0 0
}

.multiOperate-modal .file-name {
  width: 82%;
  line-height: 30px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.multiOperate-modal .checkbox-lbl {
  display: block;
  margin-top: 15px;
  line-height: 20px;
  color: #333
}

.multiOperate-modal .checkbox-lbl input {
  margin: 4px 5px 0 0;
  vertical-align: top;
  -webkit-appearance: checkbox
}

.multiOperate-modal .ui-btn {
  float: right;
  line-height: 30px;
  color: #3b8fe5
}

.multiOperate-modal .ui-btn.cancel {
  float: left;
  color: #666
}

.multiOperate-modal .modal-footer {
  padding: 15px 20px 10px
}

.modal-mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  opacity: .5;
  background: #000
}

.header .logo {
  float: left;
  margin: 4px 0 0 15px;
  height: 48px
}

.header .logo img {
  background-size: 100% 100%;
  display: block
}

.header .form_login {
  float: right;
  line-height: 90px;
  margin-right: 10px
}

.header .form_login a {
  display: inline-block;
  height: 55px;
  line-height: 55px;
  text-align: center;
  margin-right: 5px;
  font-size: 20px;
  background-size: 100%
}

.header .form_login .login {
  background-color: #1E9CEB;
  color: #fff
}

.header .form_login .register {
  background-color: #D0EBFC;
  color: #0080BD
}

#file_list li:last-child .column {
  border-bottom: 1px solid #D1DCE3
}

.column {
  border-top: 1px solid #D1DCE3;
  background-color: #FAFDFE;
  color: #5E6163;
  position: relative
}

.search-resource {
  width: 60px;
  height: 60px;
  background: url(/source/css/bgimg/search.png) no-repeat center;
  background-size: 24px auto;
  position: absolute;
  top: 0;
  right: 0
}

.hot-resource-title {
  padding: 60px 0 4px;
  font-size: 18px;
  color: #888;
  text-align: center;
  background-color: #f8f8f8
}

.hot-resource-result {
  height: 20px;
  padding: 0 10px;
  line-height: 20px;
  font-size: 14px;
  color: #888;
  text-align: left
}

.column-search {
  height: 40px;
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 0;
  position: relative
}

.column-search input {
  display: block;
  float: left;
  width: 84%;
  height: 40px;
  border: 1px solid #d9d9d9;
  border-right: 0;
  border-radius: 4px 0 0 4px;
  padding: 0 1%;
  background-color: #fff
}

.column-search .close-search {
  display: block;
  float: left;
  width: 10%;
  height: 40px;
  background: url(/source/css/bgimg/close-search.png) no-repeat center;
  background-size: auto 40%
}

.column-search .search-keyword {
  display: block;
  float: left;
  width: 15%;
  height: 40px;
  border-radius: 0 4px 4px 0;
  background: url(/source/css/bgimg/search-keyword.png) no-repeat center #3b8fe5;
  background-size: auto 50%
}

.column-account {
  background-color: #CDEDFF;
  border: none;
  width: 100%
}

.column-account a {
  color: #5E6163
}

.column .column-name {
  overflow: hidden
}

.column-account .column-name {
  overflow: hidden;
  display: table
}

.column .column-name .icon {
  float: left;
  display: inline-block
}

.column .column-name .icon-profile {
  width: 67px;
  height: 67px;
  overflow: hidden
}

@media screen and (-webkit-device-pixel-ratio: 2.0) {
  .column .column-name .icon-profile {
    width: 33.5px;
    height: 33.5px
  }
}

.column .column-name .icon-profile, .column .column-name .icon-file-type {
  margin: 10px 10px 10px 15px
}

.column .column-name .text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 54px;
  line-height: 54px
}

.column .column-name .text .vip {
  color: #e02423
}

.column .column-file .text {
  height: 16px;
  margin-top: 10px;
  line-height: 16px
}

.column-folder .text {
  width: 72%
}

.column-account .column-name .text {
  vertical-align: middle;
  display: table-cell
}

.column .column-name .icon-file-type {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat
}

.column .column-name .icon-file-mp3 {
  background: url(/source/css/bgimg/fileicon-mini/mp3.png) -4px 0 no-repeat
}

.column .column-name .icon-file-zip {
  background: url(/source/css/bgimg/fileicon-mini/zip.png) -4px 0 no-repeat
}

.column .column-name .file-info {
  display: none;
  clear: both;
  color: #9BABBA
}

.column .column-file {
  width: 100%;
  display: block
}

.column .column-file .arrow {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 21px;
  right: 15px;
  background: url(/source/css/bgimg/arrow_01.png) no-repeat;
  background-size: 100%
}

.column .column-file .arrow_reverse {
  background-image: url(/source/css/bgimg/arrow_02.png)
}

.column .size {
  margin-right: 10px
}

.column .size, .column .modified-time {
  display: inline-block;
  font-size: 13px;
  color: #9BABBA
}

.column .column-file-info {
  width: 72%;
  float: left
}

.column-breadcrumb {
  background-color: #E9F1F6;
  padding: 8px 0 8px 15px;
  line-height: 24px
}

.column-breadcrumb p {
  height: 100%;
  line-height: 66px;
  padding-left: 15px
}

.column-breadcrumb ul {
  overflow: hidden
}

.column-breadcrumb ul li {
  float: left
}

.column-breadcrumb .file-path li {
  float: left
}

.column-breadcrumb a, .column-breadcrumb .current-folder {
  color: #0080BD;
  display: inline-block;
  float: left;
  word-break: break-word
}

.btn {
  clear: both
}

.column .file-info .btn {
  height: 60px;
  background: #e0e1e1;
  box-shadow: inset 0 2px 5px #d6d7d6
}

.column .file-info .btn a {
  float: left;
  display: inline-block;
  width: 25%;
  height: 24px;
  padding-top: 36px;
  text-align: center;
  color: #575757;
  background-repeat: no-repeat;
  background-position: center 10px;
  background-size: auto 24px
}

.column .file-info .btn .preview {
  background-image: url(/source/css/bgimg/preview-icon.png)
}

.column .file-info .btn .video-preview {
  background-image: url(/source/css/bgimg/video-preview-icon.png)
}

.column .file-info .btn .audio-preview {
  background-image: url(/source/css/bgimg/video-preview-icon.png)
}

.column .file-info .btn .save_as {
  background-image: url(/source/css/bgimg/save-as-icon.png)
}

.column .file-info .btn .download {
  background-image: url(/source/css/bgimg/download-icon.png)
}

.column .file-info .btn .share {
  background-image: url(/source/css/bgimg/share-icon.png)
}

.column .file-info .btn .report_group_file {
  background-image: url(/source/css/bgimg/report-icon.png)
}

.page {
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  background-color: #E9F0F6
}

.page a {
  color: #9BABBA
}

.page .current, .page .page_num {
  color: #3E9ECC
}

.page .prev {
  margin-left: 20px;
  float: left
}

.page .next {
  float: right;
  margin-right: 20px
}

.saving_folder {
  padding: 20px 0 25px
}

.saving_folder a {
  height: 40px;
  display: block;
  margin: 0 8px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  background: #55c08f
}

.login_area {
  background-color: #23242D;
  font-size: 16px;
  padding: 20px;
  border-bottom: none
}

.login-form {
  margin: 0 auto;
  color: #fff;
  text-align: center;
  word-break: break-all
}

.login-form p {
  color: #91B5D5;
  margin-top: 30px
}

.login-link {
  color: #1E9CEB
}

.login-link a {
  line-height: 25px
}

.login_area a {
  color: #1E9CEB;
  font-weight: bold
}

.progress {
  margin: 15px auto;
  background-color: #B8D2E0;
  height: 12px
}

.progress .progress-bar {
  background-color: #1E9CEB;
  height: 12px;
  float: left
}

.footer {
  height: 130px;
  line-height: 130px;
  text-align: center;
  background-color: #1E9CEB;
  border-top: 0
}

.footer a {
  text-align: center;
  color: #fff
}

@media screen and (max-width: 320px) {
  .banner_logo {
    top: 15%
  }

  .banner_logo {
    width: auto;
    height: 3.5em
  }

  .group_intro {
    width: 120px
  }

  .account_logo {
    margin-top: 15px
  }

  .file_content .file_icon {
    max-width: 180px
  }

  .copyright p {
    font-size: 15px
  }

  .group_content .group_intro {
    max-width: 180px
  }
}

@media screen and (max-width: 479px) and (min-width: 320px) {
  .column .column-name .icon-profile {
    width: 25px;
    height: 25px
  }

  .banner_logo {
    width: auto;
    height: 4.5em
  }

  .file_content .file_icon {
    max-width: 180px
  }
}

@media screen and (max-width: 639px) and (min-width: 480px) {
  body {
    font-size: 16px
  }

  .column .column-name .icon-profile {
    width: 35px;
    height: 35px
  }

  .banner_logo {
    width: auto;
    height: 3.5em
  }

  .file_content .file_icon {
    max-width: 180px
  }
}

@media screen and (max-width: 719px) and (min-width: 640px) {
  .column .column-name .icon-profile {
    width: 45px;
    height: 45px
  }

  .banner_logo {
    width: auto;
    height: 6.5em
  }

  .file_content .file_icon {
    max-width: 180px
  }
}

@media screen and (min-width: 720px) {
  .banner_logo {
    width: auto;
    height: 3.5em
  }

  .group_intro {
    min-width: 180px
  }
}

@media screen and (min-device-width: 320px) {
  .header .logo img {
    margin-top: 10px;
    height: 70%
  }

  .header .form_login .login, .header .form_login .register {
    padding: 0 10px;
    height: 40px;
    line-height: 40px
  }
}

@media screen and (min-device-width: 480px) {
  .header .form_login .login, .header .form_login .register {
    padding: 0 20px
  }
}

.file-icon {
  width: 35px;
  height: 30px;
  margin: 12px 10px 0 15px
}

.col span {
  display: inline-block;
  float: left
}

.col span a:hover {
  text-decoration: underline;
  color: #66A3A7
}

.open-link {
  float: left
}

.icon-synchronous, .icon-folder, .icon-photo, .icon-video, .icon-document, .icon-application, .icon-folder-group, .icon-music, .icon-3gp, .icon-7zip, .icon-aac, .icon-apk, .icon-asf, .icon-asp, .icon-avi, .icon-bmp, .icon-bt, .icon-chm, .icon-dat, .icon-dll, .icon-doc, .icon-docx, .icon-epub, .icon-exe, .icon-file, .icon-flac, .icon-flv, .icon-gif, .icon-gz, .icon-htm, .icon-html, .icon-ico, .icon-ico-img, .icon-ico-other, .icon-image, .icon-ipa, .icon-jpeg, .icon-jpg, .icon-js, .icon-jsp, .icon-mkv, .icon-mov, .icon-mp3, .icon-mp3pro, .icon-mp4, .icon-mpeg, .icon-mpg, .icon-pcx, .icon-pdf, .icon-php, .icon-pic, .icon-png, .icon-pps, .icon-ppt, .icon-pptx, .icon-psd, .icon-ra, .icon-ram, .icon-rar, .icon-rm, .icon-rmvb, .icon-rtf, .icon-syn, .icon-tif, .icon-tiff, .icon-ts, .icon-txt, .icon-umd, .icon-vgf, .icon-wav, .icon-web, .icon-wma, .icon-wmv, .icon-xls, .icon-xlsx, .icon-xml, .icon-zip, .icon-unknow, .icon-torrent {
  background: url(/source/images/file_icon_mini_v2.png) no-repeat
}

.icon-folder {
  background-position: 0 -301px
}

.icon-application {
  background-position: -35px -301px
}

.icon-document {
  background-position: -70px -301px
}

.icon-folder-group {
  background-position: -105px -301px
}

.icon-music {
  background-position: -140px -301px
}

.icon-photo {
  background-position: -175px -301px
}

.icon-video {
  background-position: -210px -301px
}

.icon-synchronous {
  background-position: -245px -301px
}

.icon-3gp {
  background-position: 2px 0
}

.icon-7zip {
  background-position: -67px 0
}

.icon-aac {
  background-position: -137px 0
}

.icon-apk {
  background-position: -206px 0
}

.icon-asf {
  background-position: -206px -241px !important
}

.icon-asp {
  background-position: -345px 0
}

.icon-avi {
  background-position: -415px 0
}

.icon-bmp {
  background-position: -484px 0
}

.icon-bt {
  background-position: -553px 0
}

.icon-chm {
  background-position: -623px 0
}

.icon-dat {
  background-position: -692px 0
}

.icon-dll {
  background-position: -762px 0
}

.icon-doc {
  background-position: -831px 0
}

.icon-docx {
  background-position: -901px 0
}

.icon-epub {
  background-position: -970px 0
}

.icon-exe {
  background-position: 2px -60px
}

.icon-file {
  background-position: -67px -60px
}

.icon-flac {
  background-position: -137px -60px
}

.icon-flv {
  background-position: -206px -60px
}

.icon-gif {
  background-position: -276px -60px
}

.icon-gz {
  background-position: -345px -60px
}

.icon-htm {
  background-position: -415px -60px
}

.icon-html {
  background-position: -484px -60px
}

.icon-ico {
  background-position: -553px -60px
}

.icon-ico-img {
  background-position: -623px -60px
}

.icon-ico-other {
  background-position: -692px -60px
}

.icon-image {
  background-position: -762px -60px
}

.icon-ipa {
  background-position: -831px -60px
}

.icon-jpeg {
  background-position: -901px -60px
}

.icon-jpg {
  background-position: -970px -60px
}

.icon-js {
  background-position: 2px -121px
}

.icon-jsp {
  background-position: -67px -121px
}

.icon-mkv {
  background-position: -137px -121px
}

.icon-mov {
  background-position: -206px -121px
}

.icon-mp3 {
  background-position: -276px -121px
}

.icon-mp3pro {
  background-position: -345px -121px
}

.icon-mp4 {
  background-position: -415px -121px
}

.icon-mpeg {
  background-position: -484px -121px
}

.icon-mpg {
  background-position: -553px -121px
}

.icon-pcx {
  background-position: -692px -121px
}

.icon-pdf {
  background-position: -762px -121px
}

.icon-php {
  background-position: -831px -121px
}

.icon-pic {
  background-position: -901px -121px
}

.icon-png {
  background-position: -970px -121px
}

.icon-pps {
  background-position: 2px -181px
}

.icon-ppt {
  background-position: -67px -181px
}

.icon-pptx {
  background-position: -137px -181px
}

.icon-psd {
  background-position: -206px -181px
}

.icon-ra {
  background-position: -276px -181px
}

.icon-ram {
  background-position: -345px -181px
}

.icon-rar {
  background-position: -415px -181px
}

.icon-rm {
  background-position: -484px -181px
}

.icon-rmvb {
  background-position: -553px -181px
}

.icon-rtf {
  background-position: -623px -181px
}

.icon-syn {
  background-position: -692px -181px
}

.icon-tif {
  background-position: -762px -181px
}

.icon-tiff {
  background-position: -831px -181px
}

.icon-ts {
  background-position: -901px -181px
}

.icon-txt {
  background-position: -970px -181px
}

.icon-umd {
  background-position: 2px -241px
}

.icon-unknow {
  background-position: -67px -241px
}

.icon-vgf {
  background-position: -137px -241px
}

.icon-wav {
  background-position: -276px -241px
}

.icon-web {
  background-position: -345px -241px
}

.icon-wma {
  background-position: -415px -241px
}

.icon-wmv {
  background-position: -484px -241px
}

.icon-xls {
  background-position: -553px -241px
}

.icon-xlsx {
  background-position: -623px -241px
}

.icon-xml {
  background-position: -692px -241px
}

.icon-zip {
  background-position: -762px -241px
}

.icon-torrent {
  background-position: -832px -241px
}

.mask, .loadingMask {
  width: 100%;
  height: 100%;
  background: #000;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 200;
  text-align: center
}

.loadingMask {
  display: block
}

.icon-folder-s {
  background: url(/source/css/bgimg/fileicon-mini/folder.png) no-repeat
}

.icon-3gp-s {
  background-image: url(/source/css/bgimg/fileicon/3gp.png)
}

.icon-7zip-s {
  background-image: url(/source/css/bgimg/fileicon/7zip.png)
}

.icon-aac-s {
  background-image: url(/source/css/bgimg/fileicon/aac.png)
}

.icon-apk-s {
  background-image: url(/source/css/bgimg/fileicon/apk.png)
}

.icon-asf-s {
  background-image: url(/source/css/bgimg/fileicon/asf.png)
}

.icon-asp-s {
  background-image: url(/source/css/bgimg/fileicon/asp.png)
}

.icon-avi-s {
  background-image: url(/source/css/bgimg/fileicon/avi.png)
}

.icon-bmp-s {
  background-image: url(/source/css/bgimg/fileicon/bmp.png)
}

.icon-bt-s {
  background-image: url(/source/css/bgimg/fileicon/bt.png)
}

.icon-chm-s {
  background-image: url(/source/css/bgimg/fileicon/chm.png)
}

.icon-dat-s {
  background-image: url(/source/css/bgimg/fileicon/dat.png)
}

.icon-dll-s {
  background-image: url(/source/css/bgimg/fileicon/dll.png)
}

.icon-doc-s {
  background-image: url(/source/css/bgimg/fileicon/doc.png)
}

.icon-docx-s {
  background-image: url(/source/css/bgimg/fileicon/docx.png)
}

.icon-epub-s {
  background-image: url(/source/css/bgimg/fileicon/epub.png)
}

.icon-exe-s {
  background-image: url(/source/css/bgimg/fileicon/exe.png)
}

.icon-file-s {
  background-image: url(/source/css/bgimg/fileicon/file.png)
}

.icon-flac-s {
  background-image: url(/source/css/bgimg/fileicon/flac.png)
}

.icon-flv-s {
  background-image: url(/source/css/bgimg/fileicon/flv.png)
}

.icon-gif-s {
  background-image: url(/source/css/bgimg/fileicon/gif.png)
}

.icon-gz-s {
  background-image: url(/source/css/bgimg/fileicon/gz.png)
}

.icon-htm-s {
  background-image: url(/source/css/bgimg/fileicon/htm.png)
}

.icon-html-s {
  background-image: url(/source/css/bgimg/fileicon/html.png)
}

.icon-ico-s {
  background-image: url(/source/css/bgimg/fileicon/ico.png)
}

.icon-ico-img-s {
  background-image: url(/source/css/bgimg/fileicon/ico_img.png)
}

.icon-ico-other-s {
  background-image: url(/source/css/bgimg/fileicon/ico_other.png)
}

.icon-image-s {
  background-image: url(/source/css/bgimg/fileicon/image.png)
}

.icon-ipa-s {
  background-image: url(/source/css/bgimg/fileicon/ipa.png)
}

.icon-jpeg-s {
  background-image: url(/source/css/bgimg/fileicon/jpeg.png)
}

.icon-jpg-s {
  background-image: url(/source/css/bgimg/fileicon/jpg.png)
}

.icon-js-s {
  background-image: url(/source/css/bgimg/fileicon/js.png)
}

.icon-jsp-s {
  background-image: url(/source/css/bgimg/fileicon/jsp.png)
}

.icon-mkv-s {
  background-image: url(/source/css/bgimg/fileicon/mkv.png)
}

.icon-mov-s {
  background-image: url(/source/css/bgimg/fileicon/mov.png)
}

.icon-mp3-s {
  background-image: url(/source/css/bgimg/fileicon/mp3.png)
}

.icon-mp3pro-s {
  background-image: url(/source/css/bgimg/fileicon/mp3pro.png)
}

.icon-mp4-s {
  background-image: url(/source/css/bgimg/fileicon/mp4.png)
}

.icon-mpeg-s {
  background-image: url(/source/css/bgimg/fileicon/mpeg.png)
}

.icon-mpg-s {
  background-image: url(/source/css/bgimg/fileicon/mpg.png)
}

.icon-pcx-s {
  background-image: url(/source/css/bgimg/fileicon/pcx.png)
}

.icon-pdf-s {
  background-image: url(/source/css/bgimg/fileicon/pdf.png)
}

.icon-php-s {
  background-image: url(/source/css/bgimg/fileicon/php.png)
}

.icon-pic-s {
  background-image: url(/source/css/bgimg/fileicon/pic.png)
}

.icon-png-s {
  background-image: url(/source/css/bgimg/fileicon/png.png)
}

.icon-pps-s {
  background-image: url(/source/css/bgimg/fileicon/pps.png)
}

.icon-ppt-s {
  background-image: url(/source/css/bgimg/fileicon/ppt.png)
}

.icon-pptx-s {
  background-image: url(/source/css/bgimg/fileicon/pptx.png)
}

.icon-psd-s {
  background-image: url(/source/css/bgimg/fileicon/psd.png)
}

.icon-ra-s {
  background-image: url(/source/css/bgimg/fileicon/ra.png)
}

.icon-ram-s {
  background-image: url(/source/css/bgimg/fileicon/ram.png)
}

.icon-rar-s {
  background-image: url(/source/css/bgimg/fileicon/rar.png)
}

.icon-rm-s {
  background-image: url(/source/css/bgimg/fileicon/rm.png)
}

.icon-rmvb-s {
  background-image: url(/source/css/bgimg/fileicon/rmvb.png)
}

.icon-rtf-s {
  background-image: url(/source/css/bgimg/fileicon/rtf.png)
}

.icon-syn-s {
  background-image: url(/source/css/bgimg/fileicon/syn.png)
}

.icon-tif-s {
  background-image: url(/source/css/bgimg/fileicon/tif.png)
}

.icon-tiff-s {
  background-image: url(/source/css/bgimg/fileicon/tiff.png)
}

.icon-ts-s {
  background-image: url(/source/css/bgimg/fileicon/ts.png)
}

.icon-txt-s {
  background-image: url(/source/css/bgimg/fileicon/txt.png)
}

.icon-umd-s {
  background-image: url(/source/css/bgimg/fileicon/umd.png)
}

.icon-unknow-s {
  background-image: url(/source/css/bgimg/fileicon/unknow.png)
}

.icon-vgf-s {
  background-image: url(/source/css/bgimg/fileicon/vgf.png)
}

.icon-wav-s {
  background-image: url(/source/css/bgimg/fileicon/wav.png)
}

.icon-web-s {
  background-image: url(/source/css/bgimg/fileicon/web.png)
}

.icon-wma-s {
  background-image: url(/source/css/bgimg/fileicon/wma.png)
}

.icon-wmv-s {
  background-image: url(/source/css/bgimg/fileicon/wmv.png)
}

.icon-xls-s {
  background-image: url(/source/css/bgimg/fileicon/xls.png)
}

.icon-xlsx-s {
  background-image: url(/source/css/bgimg/fileicon/xlsx.png)
}

.icon-xml-s {
  background-image: url(/source/css/bgimg/fileicon/xml.png)
}

.icon-zip-s {
  background-image: url(/source/css/bgimg/fileicon/zip.png)
}

.icon-torrent-s {
  background-image: url(/source/images/fileicon/torrent.png)
}

.folder-list {
  overflow: hidden;
  padding: 0
}

.folder-list .result {
  height: 150px;
  line-height: 120px;
  text-align: center;
  background-color: #FAFDFE;
  color: #768F9F
}

.folder-list .emptyTips {
  display: table;
  width: 100%;
  height: 208px
}

.folder-list .emptyTips p {
  display: table-cell;
  text-align: center;
  vertical-align: middle
}

.entrance_con {
  min-height: 300px
}

.entrance_select {
  padding: 0 40px
}

.entrance_select a {
  display: block;
  margin: 0 auto 25px;
  width: 402px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  border-radius: 2px;
  max-width: 100%
}

.entrance_select .download_app {
  background-color: #5076C5
}

.entrance_select .visited_wap {
  background-color: #2BAFEC
}

.powerBy {
  font-size: 12px;
  color: #9D9D9D;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  background: #ededed
}

.powerBy a {
  color: #9D9D9D
}

.powerBy span {
  margin-left: 10px;
  color: #C7C7C7
}

.loginBodyS .login .box .form {
  height: 60px
}

.content {
  overflow: hidden
}

.content .center {
}

.content .title {
  height: 69px;
  border-bottom: 1px solid #ECEBEC;
  background-color: #F7F7F7
}

.share_info {
  margin: 0 auto 10px;
  padding: 10px 0 0 10px;
  min-width: 320px
}

.share_info img {
  width: 47px;
  height: 47px;
  display: inline-block;
  float: left
}

.share_info .text {
  display: inline-block;
  float: left;
  margin-left: 12px;
  width: 80%
}

.share_info .time {
  color: #B2B2B2;
  margin-top: 6px
}

.share_info h5 {
  max-width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333;
  font-size: 14px;
  font-weight: normal
}

.share_info h5.vip {
  color: #e02423
}

.table {
  overflow: hidden;
  text-align: center;
  color: #757575;
  font-size: 16px
}

.table .table-cell {
  padding: 10px;
  width: 235px;
  margin: 25px auto 10px;
  text-align: center;
  overflow: hidden
}

.table .table-cell .preview, .table .table-cell .file-icon {
  background-size: contain;
  background-position: 50% 50%;
  display: block;
  min-width: 100px;
  min-height: 100px;
  background-repeat: no-repeat;
  margin: 0 auto
}

.table .table-cell .file-preview, .table .table-cell .video-preview {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 50px
}

.table .table-cell .file-preview {
  background-image: url(/source/css/bgimg/file-preview.png)
}

.table .table-cell .video-preview {
  background-image: url(/source/css/bgimg/video-preview.png)
}

.table p {
  margin: 10px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 5%
}

.table .size, .private {
  font-size: 14px;
  color: #ADADAD
}

.table .tips {
  color: #FF9000
}

.table .error {
  color: red;
  float: left;
  margin: 10px 0;
  font-size: 12px;
  clear: both
}

.table .verify {
  min-width: 230px;
  width: 80%;
  margin: 20px auto 0;
  height: 53px;
  border: 1px solid #CECECE;
  clear: both;
  position: relative
}

.table .verify input {
  height: 52px;
  border: none;
  float: left;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #87827f;
  font-size: 15px
}

.table .verify .change_code {
  position: absolute;
  right: 0
}

.table .verify .verify_code {
  width: 60%
}

.status-tips {
  white-space: normal
}

.btn_group {
  margin: 10px auto;
  padding: 0 5%;
  clear: both
}

.btn_group a {
  display: inline-block;
  max-width: 100%;
  width: 150px;
  height: 46px;
  text-align: center;
  line-height: 46px;
  color: #fff;
  border-radius: 2px;
  margin: 0 0 15px 0
}

.three-btn a {
  width: 120px
}

.btn_group .preview {
  background-color: #d96237
}

.btn_group .save_as {
  background-color: #56c551
}

.btn_group .download {
  background-color: #69b9eb
}

.btn_group .login_btn, .btn_group .confirm {
  background-color: #5076C5;
  max-width: 100%;
  width: 306px;
  margin-bottom: 25px
}

.logout {
  height: 90px
}

.logout img {
  display: inline-block;
  float: left;
  margin: 8px 20px 0 15px;
  width: 68px;
  height: 71px;
  border-radius: 50%
}

.logout .text {
  float: left;
  display: inline-block;
  line-height: 72px;
  color: #8E8E8E;
  font-size: 14px
}

.logout span {
  color: #030303
}

.logout a {
  color: #F87300
}

.logout_info .login_btn {
  height: 90px;
  line-height: 90px;
  text-align: left;
  float: left;
  display: inline-block;
  margin-left: 30px
}

.back-to-top {
  position: fixed;
  bottom: 10px;
  right: 15px;
  text-decoration: none;
  color: #000;
  background: url(/source/css/bgimg/arrow_top.png) no-repeat;
  padding: 1em;
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
  font-size: 0;
  display: none
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0
}

.hot-resource {
  position: relative;
  padding-bottom: 25px;
  font-size: 16px;
  background: #f8f8f8
}

.hot-resource h3 {
  padding: 8px 15px;
  border-bottom: 1px solid #c6ced4;
  font-weight: normal;
  color: #768f9f;
  text-align: left;
  background: #e9f1f6
}

.hot-resource .resource-list {
  min-width: 320px;
  max-width: 800px;
  min-height: 300px;
  margin: 0 auto;
  padding-top: 20px
}

.hot-resource .resource-list li {
  float: left;
  width: 148px;
  margin: 0 5px 14px;
  border: 1px solid #d4d4d4;
  background: #fff;
  box-shadow: 1px 1px 3px #d4d4d4
}

.hot-resource .resource-list .keyword {
  color: #c8ae00
}

.hot-resource .resource-info {
  border-bottom: 1px solid #e4e4e4;
  box-shadow: 1px 0 3px #e4e4e4
}

.hot-resource .resource-info .icon {
  padding: 0 8px 8px
}

.hot-resource .resource-info .icon span {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain
}

.hot-resource .resource-info .icon img {
  width: 100%;
  height: 100px
}

.hot-resource .resource-list .expand .name {
  color: #55c08f
}

.hot-resource .resource-info .name {
  padding: 8px;
  color: #141414;
  text-align: left;
  word-break: break-all
}

.hot-resource .resource-info .hot-degree {
  padding: 8px;
  font-size: 15px;
  color: #b2b2b2;
  text-align: center;
  background-color: #f9f9f9
}

.hot-resource .resource-info .hot-degree em {
  padding-left: 14px;
  font-style: normal;
  color: #e33918;
  background: url(/source/css/bgimg/hot-degree.png) no-repeat left center;
  background-size: auto 16px
}

.hot-resource .resource-list .expand .resource-operate {
  display: block
}

.hot-resource .resource-operate {
  padding: 8px 0;
  background-color: #f0efef
}

.hot-resource .resource-operate a {
  display: block;
  width: 49.5%;
  height: 16px;
  float: left;
  line-height: 16px;
  font-size: 15px;
  color: #707479;
  text-align: center
}

.hot-resource .more-content {
  width: 70%;
  height: 34px;
  margin: 10px auto 0;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  line-height: 34px;
  color: #4a4a4a;
  text-align: center;
  background-color: #f3f3f3
}

.hot-resource .no-result {
  display: none;
  height: 34px;
  margin: 10px 10px 0;
  line-height: 34px;
  color: #fff;
  text-align: center;
  background-color: #ffcb1d
}

.hot-resource-inset {
  padding-bottom: 25px;
  font-size: 16px;
  background: #ededed
}

.hot-resource-inset h3 {
  padding: 8px 15px;
  border-bottom: 1px solid #c6ced4;
  font-weight: normal;
  color: #768f9f;
  text-align: left;
  background: #e9f1f6
}

.hot-resource-inset .resource-list {
  padding: 10px 10px 0
}

.hot-resource-inset .resource-list li {
  margin-bottom: 14px;
  border: 1px solid #d4d4d4;
  background: #fff;
  box-shadow: 1px 1px 3px #d4d4d4
}

.hot-resource-inset .resource-list .keyword {
  color: #c8ae00
}

.hot-resource-inset .resource-info {
  width: 100%;
  display: table;
  border-bottom: 1px solid #e4e4e4;
  box-shadow: 1px 0 3px #e4e4e4
}

.hot-resource-inset .resource-info .icon, .hot-resource-inset .resource-info .detail {
  display: table-cell;
  vertical-align: top
}

.hot-resource-inset .resource-info .icon {
  width: 50px;
  padding: 14px 12px;
  border-right: 1px solid #e9f1f5;
  background: #f3f9fd
}

.hot-resource-inset .resource-info .icon span {
  width: 50px;
  height: 50px;
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain
}

.hot-resource-inset .resource-info .detail {
  padding: 10px 8px
}

.hot-resource-inset .resource-list .expand .name {
  color: #55c08f
}

.hot-resource-inset .resource-info .name {
  margin-bottom: 10px;
  color: #557d90;
  text-align: left;
  word-break: break-all
}

.hot-resource-inset .resource-info .other span {
  font-size: 15px;
  color: #b2b2b2
}

.hot-resource-inset .resource-info .other .size {
  float: left
}

.hot-resource-inset .resource-info .other .hot-degree {
  float: right
}

.hot-resource-inset .resource-info .other .hot-degree em {
  font-style: normal;
  color: #f66653
}

.hot-resource-inset .resource-list .expand .resource-operate {
  display: block
}

.hot-resource-inset .resource-operate {
  display: none
}

.hot-resource-inset .resource-operate a {
  width: 33.33%;
  display: block;
  float: left;
  color: #557d90;
  text-align: center
}

.hot-resource-inset .resource-operate.folder {
  width: 50%
}

.hot-resource-inset .resource-operate a:active {
  background-color: #f0f3f5
}

.hot-resource-inset .resource-operate a span {
  height: 17px;
  display: inline-block;
  height: 42px;
  line-height: 42px
}

.hot-resource-inset .resource-operate .save_as span {
  padding-left: 25px;
  background: url(/source/css/bgimg/save-as.png) no-repeat left center;
  background-size: auto 14px
}

.hot-resource-inset .resource-operate .download span {
  padding-left: 25px;
  background: url(/source/css/bgimg/download.png) no-repeat left center;
  background-size: auto 14px
}

.hot-resource-inset .resource-operate .more span {
  padding-left: 22px;
  background: url(/source/css/bgimg/more.png) no-repeat left center
}

.hot-resource-inset .more-resource {
  height: 40px;
  display: block;
  margin: 0 8px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  background: #55c08f
}

.hot-resource-inset .resource-page a, .hot-resource-inset .resource-page .page_num {
  width: 20%;
  height: 40px;
  display: block;
  float: left;
  line-height: 40px;
  color: #9babba;
  text-align: center;
  background: #e9f0f6
}

.hot-resource-inset .resource-page .current, .hot-resource-inset .resource-page .page_num {
  color: #0080bd
}

.hot-resource-inset .resource-page .page_num {
  width: 60%
}

.hot-resource-inset .tab-nav {
  background: #f7f7f7
}

.hot-resource-inset .tab-nav li {
  float: left;
  width: 50%;
  margin-left: -1px;
  line-height: 36px;
  text-align: center;
  color: #768f9f;
  border-bottom: 1px solid #c6ced4
}

.hot-resource-inset .tab-nav .active {
  border: 1px solid #cad1d6;
  border-bottom-color: #ededed;
  border-radius: 4px;
  color: #768f9f;
  background: #ededed;
  box-shadow: inset -1px 1px 0 #fff
}

.hot-resource-inset #share-master li {
  padding: 10px
}

.hot-resource-inset .resource-list .head-img {
  float: left;
  width: 46px;
  height: 46px;
  margin-right: 10px;
  padding: 1px;
  border: 1px solid #d8d8d8;
  background-color: #fff
}

.hot-resource-inset .resource-list .relate-info h2 {
  margin-bottom: 6px;
  line-height: 14px;
  font-size: 14px;
  color: #8a8a8a;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.hot-resource-inset .resource-list .relate-info .file-icon {
  float: left;
  display: block;
  width: 32px;
  height: 30px;
  margin: 0 5px 0 0
}

.hot-resource-inset .resource-list .relate-info .file-name {
  float: left;
  width: 65%;
  line-height: 30px;
  color: #557d90;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.hot-resource-inset #J_NoRecord {
  padding: 50px 0;
  color: #768f9f;
  text-align: center
}

.loadingMask .loading {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 50%;
  margin-top: -19px;
  left: 50%;
  margin-left: -14px
}

.loadingMask .spinner {
  border: 3px solid transparent;
  font-size: 40px;
  width: 1em;
  height: 1em;
  border-radius: .5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top-color: #1087e5;
  border-right-color: #1087e5
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@-moz-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

.tooltips {
  background: url(/source/css/bgimg/tips_bg.png) no-repeat;
  height: 53px;
  width: 187px;
  -webkit-background-size: 200px 55px;
  background-size: 200px 55px;
  position: absolute;
  top: 41px;
  left: 10px;
  z-index: 100;
  display: none
}

.tooltips .text {
  color: #8C8C8C;
  font-size: 12px;
  display: inline-block;
  margin-top: 22px;
  margin-left: 22px
}

.tooltips .close {
  top: 16px;
  right: 10px;
  position: absolute;
  width: 25px;
  display: inline-block;
  height: 25px;
  cursor: pointer
}

.app-recommend-container {
  padding: 0 40px
}

.app-recommend {
  width: 400px;
  margin: 0 auto 25px;
  max-width: 100%
}

.app-recommend h1 {
  font-size: 16px;
  font-weight: normal
}

.app-recommend h1 span {
  color: #787878
}

.app-recommend ul {
  display: inline-block;
  margin-left: -10%
}

.app-recommend li {
  width: 15%;
  float: left;
  margin: 15px 0 0 10%
}

.app-recommend li img {
  max-width: 100%;
  display: block;
  margin-bottom: 6px
}

.app-recommend li a {
  color: #808080;
  text-align: center
}

.weixin-download {
  display: none
}

.weixin-download-mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  opacity: .8
}

.weixin-download-tip {
  padding-left: 12%;
  position: fixed;
  top: 0;
  right: 12%
}

.weixin-download-tip img {
  max-width: 100%
}

.group-warrant {
  background-color: #f5f6f8;
  padding: 20px 10px 60px;
  text-align: center
}

.group-warrant .head-img {
  width: 50px;
  height: 50px;
  margin: 0 auto 10px
}

.group-warrant .content-box {
  padding: 0 10px 20px;
  border: 1px solid #e3e3e3;
  background-color: #fff;
  position: relative
}

.group-warrant .content-caret-01, .group-warrant .content-caret-02 {
  display: block;
  width: 0;
  height: 0;
  margin-left: -10px;
  vertical-align: top;
  border-top: 10px solid transparent;
  border-bottom: 10px solid #e3e3e3;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  overflow: hidden
}

.group-warrant .content-caret-02 {
  border-bottom-color: #fff;
  top: -19px;
  overflow: hidden
}

.group-warrant h1, .group-warrant h2 {
  font-size: 16px;
  font-weight: normal
}

.group-warrant h1 {
  margin-bottom: 10px;
  color: #878787
}

.group-warrant h2 {
  padding: 10px 0;
  border-bottom: 1px solid #dcdcdc;
  color: #404040
}

.group-warrant .icon-folder-group {
  width: 100px;
  height: 80px;
  margin: 20px auto 10px;
  background: url(/source/css/bgimg/fileicon/folder-group.png) 0 0 no-repeat
}

.group-warrant p {
  font-size: 18px;
  color: #4e4e4e
}

.group-warrant .ui-button {
  display: block;
  width: 90%;
  height: 42px;
  margin: 40px auto 0;
  line-height: 42px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  background-color: #2bafec
}

.group-warrant .download-app {
  background-color: #5076c5
}

.group-warrant-tips {
  color: #9f9e9e;
  font-size: 16px
}

.group-warrant-tips span {
  font-size: 18px;
  color: #ef7513
}

.group-noaccess {
  width: 65px;
  height: 63px;
  margin: 20px auto 10px;
  background: url(/source/css/bgimg/group-noaccess.jpg)
}

.group-noaccess p {
  font-size: 16px
}

.anthology h3 {
  margin: 10px 0;
  font-size: 18px;
  color: #609fbf
}

.anthology-img {
  display: block;
  margin: 0 auto 10px
}

.anthology label {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  color: #4e4e4e
}

.anthology label input {
  position: relative;
  top: 1px;
  margin-right: 4px
}

.anthology .view-btn {
  display: block;
  width: 205px;
  height: 50px;
  margin: 0 auto 10px;
  background: url(../../source/css/bgimg/group/view_btn.jpg)
}

.anthology p {
  font-size: 16px;
  text-align: left
}

.anthology p span {
  font-weight: bold
}

.freeze-group {
  padding: 20px 10px
}

.freeze-group .no-group {
  margin: 50px auto 30px;
  line-height: 32px;
  color: #E8704E;
  font-size: 20px;
  text-align: center
}

.freeze-group .no-group .icons-expression {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  margin-top: -6px;
  vertical-align: middle;
  background: url(/source/css/bgimg/group/expression.png) no-repeat
}

.freeze-group .group-operate.groupt-operate-logined {
  padding: 0 20px 30px
}

.group-operate .btn {
  display: block;
  width: 60%;
  height: 34px;
  margin: 0 auto;
  line-height: 34px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  border: 1px solid #2075C5;
  background-color: #458EEC;
  cursor: pointer
}

#ClCache {
  display: none
}

#CssGaga {
  content: "151224154627,del,327"
}
