@import "../../assets/styles/base";

#app {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*----- 首页 -----*/
.index-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  text-align: center;
  color: #2c3e50;
}

/*-- 头部 --*/
.account-info {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 44px 10px 24px;
  background-color: #418bce;
  box-shadow: inset 0 3px 5px #4389c0;
  text-align: center;
}

.account-avatar {
  width: 84px;
  height: 84px;
  margin: 0 auto 8px;
  border-radius: 50%;
  border: 2px solid #fff;
  overflow: hidden;

  .avatar {
    width: 100%;
    height: 100%;
  }
}

.account-name {
  width: 60%;
  margin: 0 auto 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.6rem;
  color: #fff;
  overflow: hidden;
}

.account-volume {
  position: relative;

  .count {
    position: absolute;
    top: 0;
    right: 8px;
    line-height: 24px;
    font-size: 1.4rem;
    color: #fff;
  }

  .volume {
    height: 18px;
    padding: 3px;
    border-radius: 3px;
    background-color: #367fbf;
    box-sizing: content-box;
  }

  .volume-used {
    float: left;
    width: 23%;
    height: 18px;
    border-radius: 3px 0 0 3px;
    background-color: #feb20a;

    &.volume-189-used {
      width: 1%;
      border-radius: 0 3px 3px 0;
      background-color: #8ccb00;
    }
  }
}

.account-logout {
  position: absolute;
  top: 22px;
  left: 13px;
  height: 16px;
  padding-left: 20px;
  line-height: 16px;
  color: #fff;
  background: url(images/logout.png) no-repeat left center;
  background-size: auto 100%;
}

/*-- 链接区 --*/
.router-box {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  justify-content: space-between;
  padding: 20px 10px;
}

.router {
  display: inline-flex;
  width: 48%;
  height: 98px;
  justify-content: center;
  align-items: center;
  background-color: #fa6567;

  &:active {
    color: #fff;
    background-color: skyblue;
  }
}

.router-view {
  order: 3;
  flex: 1 1 auto;
}
