/**
 * @天翼云PWA
 * @zhangzhp1
 * @date 2017-03-20
 */
@import "../../assets/styles/base";

/* px 转 rem，此时html的字体大小为 16px */
@function px2rem($px) {
  $rem: 75px;
  @return ($px/$rem)*2 + rem;
}

/* px 转 rem，此时html的字体大小为 16px */
@function px2px($px) {
  @return $px*2;
}

#app {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* 首页
---------------------------------------------------------------- */
.index-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  font-size: px2px(14px);
  text-align: center;
  color: #2c3e50;
  /*line-height: 1;*/
  letter-spacing: px2px(1px);
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/*-- 头部 --*/
.account-info {
  position: relative;
  padding: px2px(44px) px2px(10px) px2px(24px);
  background-color: #418bce;
  box-shadow: inset 0 px2px(3px) px2px(5px) #4389c0;
}

.account-avatar {
  display: block;
  width: px2rem(84px);
  height: px2rem(84px);
  margin: 0 auto px2px(8px);
  border-radius: 50%;
  border: px2px(2px) solid #fff;
  overflow: hidden;

  .avatar {
    width: 100%;
    height: 100%;
  }
}

.account-name {
  width: 60%;
  margin: 0 auto px2px(20px);
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: px2px(16px);
  color: #fff;
  overflow: hidden;
}

.account-volume {
  position: relative;

  .count {
    position: absolute;
    top: 0;
    right: px2px(8px);
    line-height: px2px(24px);
    color: #fff;
  }

  .volume {
    height: px2rem(24px);
    padding: px2rem(3px);
    border-radius: px2px(3px);
    background-color: #367fbf;
  }

  .volume-used {
    float: left;
    width: 23%;
    height: 100%;
    border-radius: px2px(3px) 0 0 px2px(3px);
    background-color: #feb20a;

    &.volume-189-used {
      width: 1%;
      border-radius: 0 px2px(3px) px2px(3px) 0;
      background-color: #8ccb00;
    }
  }
}

.account-logout {
  position: absolute;
  top: px2rem(22px);
  left: px2rem(13px);
  height: px2px(16px);
  padding-left: px2rem(20px);
  line-height: px2px(16px);
  color: #fff;
  background: url(images/logout.png) no-repeat left center;
  background-size: auto 100%;
}

/*-- 链接区 --*/
.router-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: px2rem(20px) px2rem(10px);

  .router {
    width: 49%;
    height: px2rem(98px);
    margin-bottom: 40px;
    line-height: 1;

    &.folder {
      background: #92cf69 url(images/link-01.png) center 30% no-repeat;
      background-size: auto 70px;
    }

    &.favorite {
      background: #59b5e2 url(images/link-02.png) center 30% no-repeat;
      background-size: auto 80px;
    }

    &.group {
      background: #fdbc2c url(images/link-03.png) center 30% no-repeat;
      background-size: auto 86px;
    }

    &.hot {
      background: #fa6567 url(images/link-04.png) center 30% no-repeat;
      background-size: auto 84px;
    }

    &.square {
      background: #f7784a url(images/link-05.png) center 30% no-repeat;
      background-size: auto 95px;
    }

    &:active {
      color: #fff;
      background-color: skyblue;
      background-size: 30% auto;
    }
  }

  .link {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 40%;
    color: #fff;
  }
}

.router-view {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
}
